<app-navbar></app-navbar>
<div class="min-h-screen mt-24 flex items-center justify-center">
  <div class="my-4 mx-auto w-10/12 bg-white shadow-md rounded-lg overflow-hidden">
    <div *ngIf="!isInitialized" class="p-12">
      <div class="w-full text-center">
        <i class="animate-spin text-gray-300 fa-solid fa-circle-notch" style="font-size: 36px;"></i>
      </div>
    </div>
    <div *ngIf="isInitialized" class="p-12">
      <div class="mb-4">
        <a href="/searchPersonnel" class="text-lg text-cyan-600 decoration-inherit hover:text-cyan-800 hover:underline">< Back</a>
      </div>
      <div class="mb-8 p-12 rounded-lg shadow-md shadow-black outline outline-1 outline-gray-700">
        <h2 class="text-2xl font-bold text-gray-900 text-center justify-center mb-8 uppercase">Personnel Detail</h2>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="space-x-2">
            <label class="tracking-wide font-semibold text-gray-700 text-left">Name:</label>
            <label class="tracking-wide text-gray-600 text-left">{{personnel.name}}</label>
          </div>
          <div class="space-x-2">
            <label class="tracking-wide font-semibold text-gray-700 text-left">Personnel Number:</label>
            <label class="tracking-wide text-gray-600 text-left">{{personnel.personnel_no}}</label>
          </div>
          <div class="col-span-2"><label class="tracking-wide font-semibold text-gray-700 text-left">Present Title(s):</label></div>
          <div class="col-span-2"><p class="tracking-wide text-gray-600 text-left text-wrap">{{personnel.title}}</p></div>
          <div class="space-x-2">
            <label class="tracking-wide font-semibold text-gray-700 text-left">Department:</label>
            <label class="tracking-wide text-gray-600 text-left">{{personnel.department}}</label>
          </div>
          <div class="space-x-2">
            <label class="tracking-wide font-semibold text-gray-700 text-left">Email Address:</label>
            <label class="tracking-wide text-gray-600 text-left">{{personnel.email}}</label>
          </div>
          <div class="space-x-2">
            <label class="tracking-wide font-semibold text-gray-700 text-left">Date of Birth:</label>
            <label class="tracking-wide text-gray-600 text-left">{{personnel.birth_date}}</label>
          </div>
          <div class="space-x-2">
            <label class="tracking-wide font-semibold text-gray-700 text-left">Date of Employment:</label>
            <label class="tracking-wide text-gray-600 text-left">{{personnel.employ_date}}</label>
          </div>
          <div class="col-span-2"><label class="tracking-wide font-semibold text-gray-700 text-left">Job Description:</label></div>
          <div class="col-span-2"><p class="tracking-wide text-gray-600 text-left text-wrap">{{personnel.job_desc}}</p></div>
          <div *ngIf="educations.length > -1" class="col-span-2 mt-2">
            <label class="w-full tracking-wide font-semibold text-gray-700 text-left">Education(s):</label>
            <ol class="list-decimal list-inside">
              <li *ngFor="let education of educations" class="tracking-wide text-gray-600 text-left">
                {{education.major.slice(0,4)}} {{education.university}}, {{education.major.slice(4)}}, {{education.grad_year}}
              </li>
            </ol>
          </div>
        </div>
        <div class="flex flex-center mb-4 space-x-2">
          <button (click)="navigatePreview(personnel.person_id)" class="inline-block bg-[#016299] rounded border-2 border-primary px-3 pb-[6px] pt-2 font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-accent-300 hover:bg-primary-50/50 hover:text-primary-accent-300 focus:border-primary-600 focus:bg-primary-50/50 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 motion-reduce:transition-none dark:text-primary-500 dark:hover:bg-blue-950 dark:focus:bg-blue-950 text-white">
            <i class="far fa-file-pdf pr-2" style="font-size: 16px;"></i>Preview
          </button>
          <button (click)="navigateEdit()" class="inline-block bg-[#016299] rounded border-2 border-primary px-4 pb-[6px] pt-2 font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-accent-300 hover:bg-primary-50/50 hover:text-primary-accent-300 focus:border-primary-600 focus:bg-primary-50/50 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 motion-reduce:transition-none dark:text-primary-500 dark:hover:bg-blue-950 dark:focus:bg-blue-950 text-white" *ngIf="role === 'Admin' || role === 'IM'">
            <i class="fas fa-edit pr-2" style="font-size: 16px;"></i> Edit
          </button>
        </div>
      </div>

      <!-- Training Records-->
      <div class="mb-8 p-12 rounded-lg shadow-md shadow-black outline outline-1 outline-gray-700">
        <h2 class="text-2xl font-bold text-gray-900 text-center justify-center mb-8 uppercase">Training Records</h2>
        <div class="show-table mt-5 border border-gray-500">
          <div class="table-responsive overflow-auto "style="max-height: 600px; min-height: 200px;">
            <table class="table w-full bg-white overflow-y-scroll text-sm" id="data-table">
              <thead class="bg-blue-100 font-medium">
                <tr class="border-b border-gray-500">
                  <th id="training_title" class="px-4 py-2 border-r border-gray-500">Type of Training</th>
                  <th id="training_category" class="px-4 py-2 border-r border-gray-500">Category</th>
                  <th id="start_date" class="px-4 py-2 border-r border-gray-500">Start</th>
                  <th id="finish_date" class="px-4 py-2 border-r border-gray-500">Finish</th>
                  <th id="place" class="px-4 py-2 border-r border-gray-500">Place</th>
                  <th id="result" class="px-4 py-2 border-r border-gray-500">Result</th>
                  <th id="interval_recurrent" class="px-4 py-2 border-r border-gray-500">Interval Recurrent</th>
                  <th id="next_date" class="px-4 py-2 border-r border-gray-500">Next Training</th>
                  <th id="remark" class="px-4 py-2">Remark</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of trainingRecords" class="border-b border-gray-500">
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.training_title }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.training_category }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.start_date }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.finish_date }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.place }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.result }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.interval_recurrent }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.next_date }}</td>
                  <td class="px-4 py-2">{{ item.remark }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="flex mt-4 justify-center">
          <details id="export_excel_result" class="w-fit open">
            <summary (click)="exportToExcel('export-edu-table')" class="inline-block text-white justify-center bg-[#107c41] hover:bg-[#185c37] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2 motion-reduce:transition-none cursor-pointer">
              <i class="fas fa-file-excel text-white mr-2"></i>Export to Excel
            </summary>
  
            <div class="hidden bg-white outline outline-1 outline-gray-700 rounded-lg w-fit max-w-[80%] h-fit my-auto mx-auto fixed inset-0 text-gray-600 p-16">
              <div class="show-table mt-5 border border-gray-500">
                <div class="table-responsive overflow-auto" style="max-height: 600px; min-height: 200px;">
                  <table class="table w-full bg-white overflow-y-scroll text-sm" id="export-edu-table">
                    <thead class="bg-blue-100 font-medium">
                      <tr class="border-b border-gray-500">
                        <th id="university" class="px-4 py-2 border-r border-gray-500">University</th>
                        <th id="major" class="px-4 py-2 border-r border-gray-500">Major</th>
                        <th id="grad_year" class="px-4 py-2 border-r border-gray-500">Graduation Year</th>
                        <th id="edu_remark" class="px-4 py-2">Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of educations" class="border-b border-gray-500">
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.university }}</td>
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.major }}</td>
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.grad_year }}</td>
                        <td class="px-4 py-2">{{ item.remark }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </details>
        </div> -->
      </div>

      <!-- Experience Records-->
      <div class="mb-8 p-12 rounded-lg shadow-md shadow-black outline outline-1 outline-gray-700">
        <h2 class="text-2xl font-bold text-gray-900 text-center justify-center mb-8 uppercase">Experience Records</h2>
        <div class="show-table mt-5 border border-gray-500">
          <div class="table-responsive overflow-auto "style="max-height: 600px; min-height: 200px;">
            <table class="table w-full bg-white overflow-y-scroll text-sm" id="data-table">
              <thead class="bg-blue-100 font-medium">
                <tr class="border-b border-gray-500">
                  <th id="job_title" class="px-4 py-2 border-r border-gray-500">Position</th>
                  <th id="since_date" class="px-4 py-2 border-r border-gray-500">Since</th>
                  <th id="until_date" class="px-4 py-2 border-r border-gray-500">Until</th>
                  <th id="assignment" class="px-4 py-2 border-r border-gray-500">Assignment Address</th>
                  <th id="remark" class="px-4 py-2">Remark</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of experienceRecords" class="border-b border-gray-500">
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.job_title }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.since_date }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.until_date }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.assignment }}</td>
                  <td class="px-4 py-2">{{ item.remark }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="flex mt-4 justify-center">
          <details id="export_excel_result" class="w-fit open">
            <summary (click)="exportToExcel('export-edu-table')" class="inline-block text-white justify-center bg-[#107c41] hover:bg-[#185c37] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2 motion-reduce:transition-none cursor-pointer">
              <i class="fas fa-file-excel text-white mr-2"></i>Export to Excel
            </summary>
  
            <div class="hidden bg-white outline outline-1 outline-gray-700 rounded-lg w-fit max-w-[80%] h-fit my-auto mx-auto fixed inset-0 text-gray-600 p-16">
              <div class="show-table mt-5 border border-gray-500">
                <div class="table-responsive overflow-auto" style="max-height: 600px; min-height: 200px;">
                  <table class="table w-full bg-white overflow-y-scroll text-sm" id="export-edu-table">
                    <thead class="bg-blue-100 font-medium">
                      <tr class="border-b border-gray-500">
                        <th id="university" class="px-4 py-2 border-r border-gray-500">University</th>
                        <th id="major" class="px-4 py-2 border-r border-gray-500">Major</th>
                        <th id="grad_year" class="px-4 py-2 border-r border-gray-500">Graduation Year</th>
                        <th id="edu_remark" class="px-4 py-2">Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of educations" class="border-b border-gray-500">
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.university }}</td>
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.major }}</td>
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.grad_year }}</td>
                        <td class="px-4 py-2">{{ item.remark }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </details>
        </div> -->
      </div>

      <!-- Certifications -->
      <div class="mb-8 p-12 rounded-lg shadow-md shadow-black outline outline-1 outline-gray-700">
        <h2 class="text-2xl font-bold text-gray-900 text-center justify-center mb-8 uppercase">Certifications</h2>
        <div class="show-table mt-5 border border-gray-500">
          <div class="table-responsive overflow-auto "style="max-height: 600px; min-height: 200px;">
            <table class="table w-full bg-white overflow-y-scroll text-sm" id="data-table">
              <thead class="bg-blue-100 font-medium">
                <tr class="border-b border-gray-500">
                  <th id="regulation_based" class="px-4 py-2 border-r border-gray-500">Based on Regulation</th>
                  <th id="cert_type" class="px-4 py-2 border-r border-gray-500">Certification Type</th>
                  <th id="cert_number" class="px-4 py-2 border-r border-gray-500">Certification No.</th>
                  <th id="cert_first_date" class="px-4 py-2 border-r border-gray-500">First Issue</th>
                  <th id="cert_expire_date" class="px-4 py-2 border-r border-gray-500">Date of Expire</th>
                  <th id="cert_letter_nbr" class="px-4 py-2 border-r border-gray-500">Certification Letter Number</th>
                  <th id="cert_scope" class="px-4 py-2">Scope</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of certifications" class="border-b border-gray-500">
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.regulation_based }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.cert_type }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.cert_number }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.cert_first_date }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.cert_expire_date }}</td>
                  <td class="px-4 py-2 border-r border-gray-500">{{ item.cert_letter_nbr }}</td>
                  <td class="px-4 py-2">{{ item.cert_scope }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="flex mt-4 justify-center">
          <details id="export_excel_result" class="w-fit open">
            <summary (click)="exportToExcel('export-edu-table')" class="inline-block text-white justify-center bg-[#107c41] hover:bg-[#185c37] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2 motion-reduce:transition-none cursor-pointer">
              <i class="fas fa-file-excel text-white mr-2"></i>Export to Excel
            </summary>
  
            <div class="hidden bg-white outline outline-1 outline-gray-700 rounded-lg w-fit max-w-[80%] h-fit my-auto mx-auto fixed inset-0 text-gray-600 p-16">
              <div class="show-table mt-5 border border-gray-500">
                <div class="table-responsive overflow-auto" style="max-height: 600px; min-height: 200px;">
                  <table class="table w-full bg-white overflow-y-scroll text-sm" id="export-edu-table">
                    <thead class="bg-blue-100 font-medium">
                      <tr class="border-b border-gray-500">
                        <th id="university" class="px-4 py-2 border-r border-gray-500">University</th>
                        <th id="major" class="px-4 py-2 border-r border-gray-500">Major</th>
                        <th id="grad_year" class="px-4 py-2 border-r border-gray-500">Graduation Year</th>
                        <th id="edu_remark" class="px-4 py-2">Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of educations" class="border-b border-gray-500">
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.university }}</td>
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.major }}</td>
                        <td class="px-4 py-2 border-r border-gray-500">{{ item.grad_year }}</td>
                        <td class="px-4 py-2">{{ item.remark }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </details>
        </div> -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>